.button-content{
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color: azure;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  box-shadow: 4px 4px black;
}

.button-content:hover{
  background-color: rgb(211, 29, 171)
}

.operator{
  background-color: #00471b;
}

.operator:hover{
  background-color: rgb(219, 138, 15)
}